doctype html
html
  head
    title eBay NYC
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // Bootstrap CSS 
    link(href='/stylesheets/bootstrap.css', rel='stylesheet', media='screen')
    link(href='/stylesheets/map.css', rel='stylesheet', media='screen')
    script(type='text/javascript', src='/javascripts/modestmaps.min.js')
    script(type='text/javascript', src='/javascripts/easey.js')
    script(type='text/javascript', src='/javascripts/easey.handlers.js')
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDHk1JBBniXccptYty8nuwCASGFu_jk4g8')
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/map.js')
  body
    #map